@import "fonts.css";

html { 
    font-family: "Merriweather"; 
    font-size: 120%;
}
p {
    font-family: "Merriweather";
    font-size: 80%;
    font-style: normal;
}
h1, h2, h3, h4 {
    font-family: "Merriweather";
    font-size: 120%;
    font-style: bold;
}
li, ul {
    font-family: "Merriweather";
    font-size: 90%;
    font-style: normal;
} 