@import "fonts.css";


html { 
    font-family: "Lato"; 
    font-size: 120%;
    background-color: lightgrey;
    color: black;
}
main{
    width: 60rem;
    margin:2rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 4rem;
    box-shadow: 10px 10px 5px rgba(100, 100, 100,.5);
    backdrop-filter: blur(2px);
}

p {
    font-family: "Lato";
    font-size: 80%;
    font-style: normal;
}
h1, h2, h3, h4 {
    font-family: "Merriweather";
    font-size: 120%;
    font-style: bold;
    color: blue;
    border-bottom: 2px, solid blue;
    text-decoration: underline;
}
li, ul {
    font-family: "Lato";
    font-size: 90%;
    font-style: normal;
} 

a{
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: purple;   
    text-decoration: underline;
}

figcaption {
    text-decoration: underline;
}

b {
    font-family: "Lato";
    font-style: italic;
}